@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
* {
    background-color: #f3eee8;
    font-family: Oswald;
}

#input1 {
    font-size: 2rem;
    width: 80vw;
    height: 20vh;
    border-radius: 10px;
    background-color: #F6F5F1;
}

#heading {
    color:burlywood;
    font-size: 3rem;
    text-align: center;
    font-family: Shalimar;
}

.btn {
    width: 100px;
    background-color: #F6F5F1;
}

.output {
    font-size: 2.5rem;
    text-align: center;
}

#btns-1, #dot-dash-btns, #space-btn, #radio-selections, #input-container {
    display: flex;
    justify-content: center;
}

#info {
    text-align: center;
}