@import url("https://fonts.googleapis.com/css2?family=Shalimar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
* {
  background-color: #f3eee8;
  font-family: Oswald;
}

#input1 {
  font-size: 2rem;
  width: 80vw;
  height: 20vh;
  border-radius: 10px;
  background-color: #F6F5F1;
}

#heading {
  color: burlywood;
  font-size: 3rem;
  text-align: center;
  font-family: Shalimar;
}

.dot-dash-btns__dash-btn, .dot-dash-btns__dot-btn, .space-btn__btn {
  width: 100px;
}

#radio-selections .btn {
  width: 100px;
  background-color: #F6F5F1;
}

.output-container__output {
  font-size: 2.5rem;
  text-align: center;
}

#functional-btns, #dot-dash-btns, #space-btn, #radio-selections, #input-container {
  display: flex;
  justify-content: center;
}

#info {
  text-align: center;
}